body {
  padding: 0px;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.9);
}

.top-header {
  background-color: black;
  padding: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.menu-header {
  color: rgb(160, 160, 160);
  text-decoration: none;
  margin: 10px;
  transition: 0.5s;
}

.menu-header:hover {
  text-decoration: underline;
  color: rgb(255, 255, 255);
}

.underline {
  text-decoration: underline;
  color: rgb(255, 255, 255)
}

/* menu */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 1px;
  background-color: rgba(0, 0, 0,);
  width: 30px;
}

.menu {
  display: flex;
  gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 8px;
}

.menu-item {
  transition: 0.5s;
}

.menu-item:hover {
  color: rgb(132, 0, 255);
}

.menu a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  padding: 5px;
}

.hamburger div {
  width: 30px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  margin: 4px 0;
}

@media (max-width: 1980px) {
  .menu {
    display: none;
    flex-direction: column;
    background: #000000dd;

    position: fixed;
    top: 102px;
    left: 0px;

    width: 150px;
    padding: 10px;
    border: 1px solid black;

    z-index: 999;
  }

  .menu.active {
    display: flex;
  }

  .hamburger {
    display: flex;
    z-index: 1000;
  }
}

.main-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  justify-content: flex-start;

}

.box-main-img {
  max-width: 800px;
  margin-left: 20px;
}

.main-img {
  width: 100%;
}

.box-main-news {
  border: 1px solid blue;
  width: 300px;
  height: 416px;
  text-align: center;
}

.main-text-events {
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.box-name-sponsor {
  border: 1px solid white;
}

.logo-sponsor {
  width: 40px;
}

.name-sponsor {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

.logo-ic {
  width: 20px;
}